<div id="conteudo">
    <section>
        <h1>Postagens:</h1>
        <article>
            <header>
                <h2>{{titulo}}</h2>
            </header>
            <p>{{conteudo}}</p>

            <br>
            <a  href="index.php?pagina=Comentario&metodo=index&id={{id}}">Comentar</a>
            <hr>
            <br>

            {% if comentario == false %}
                <p>nem um comentario encontrado para essa postagem</p>
            {% else %}
                {% for comentario in comentario %}

                    <h3>{{comentario.nome}}</h3>

                    <p>{{comentario.mensagem}}</p>

                {% endfor %}
            {% endif %}
            
        </article>
    </section>
</div>